@font-face {
  font-family: "iconfont"; /* Project id 3829161 */
  src: url('iconfont.woff2?t=1710080670364') format('woff2'),
       url('iconfont.woff?t=1710080670364') format('woff'),
       url('iconfont.ttf?t=1710080670364') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianmao:before {
  content: "\e6f4";
}

.icon-send-o:before {
  content: "\e73a";
}

.icon-icons-:before {
  content: "\e66c";
}

.icon-yuan:before {
  content: "\e833";
}

.icon-shengxian_xia:before {
  content: "\e623";
}

.icon-shucai:before {
  content: "\e606";
}

.icon-liwu1:before {
  content: "\e6b6";
}

.icon-youhuiquan1:before {
  content: "\e69e";
}

.icon-sousuo:before {
  content: "\e61c";
}

.icon-more:before {
  content: "\e684";
}

.icon-xiaoxi:before {
  content: "\e600";
}

.icon-top:before {
  content: "\e663";
}

.icon-down:before {
  content: "\e664";
}

.icon-daifukuanb:before {
  content: "\e6ba";
}

.icon-yijianfankui:before {
  content: "\e60e";
}

.icon-dingdan:before {
  content: "\e608";
}

.icon-daitihuo:before {
  content: "\e648";
}

.icon-kefu:before {
  content: "\e645";
}

.icon-hezuo:before {
  content: "\e61a";
}

.icon-pingjiabaoxian:before {
  content: "\e837";
}

.icon-a-fukuan3:before {
  content: "\eb45";
}

.icon-laba:before {
  content: "\e60d";
}

.icon-left:before {
  content: "\e83d";
}

.icon-right:before {
  content: "\e840";
}

.icon-list:before {
  content: "\e682";
}

.icon-cart:before {
  content: "\e6af";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-people:before {
  content: "\e736";
}

.icon-fenlei:before {
  content: "\e62f";
}

